.aboutCont {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--padding-section);
	min-height: 100vh;
}

.aboutContent {
	max-width: 900px;
	text-align: center;
	background-color: var(--background-color-content);
	padding: var(--padding-content);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow-light);
}

.aboutContent h2 {
	font-size: var(--font-size-h2);
	color: var(--primary-color); /* رنگ متغیر برای عنوان */
	margin-bottom: 20px;
	font-weight: bold;
}

.aboutContent p {
	font-size: var(--font-size-p);
	line-height: var(--line-height-p);
	color: var(--secondary-color);
	margin-bottom: 30px;
}

.aboutContent .shop-btn:hover {
	background-color: var(--button-hover-color); /* تغییر رنگ هنگام هاور */
}

/* ریسپانسیو برای دستگاه‌های کوچک‌تر (موبایل) */
@media (max-width: 768px) {
	.aboutContent {
		max-width: 100%;
		padding: var(--padding-mobile);
	}

	.aboutContent h2 {
		font-size: 2.5rem;
	}

	.aboutContent p {
		font-size: 1rem;
	}
}

/* ریسپانسیو برای دستگاه‌های خیلی کوچک (موبایل‌های بسیار کوچک) */
@media (max-width: 480px) {
	.aboutContent h2 {
		font-size: 2rem;
	}

	.aboutContent p {
		font-size: 0.9rem;
	}

	.shop-btn {
		font-size: 1rem;
		padding: 12px 25px;
	}
}
