.category {
	display: flex;
	justify-content: center;
	justify-self: center;
	margin-top: 10px;
}
.category a {
	font-size: 1.2rem;
	padding: 5px;
	color: #020202;
	border-radius: 10px;
}
.category :nth-child(2) {
	margin: 0 15px 0 15px;
}
.category a:hover {
	color: var(--button-hover-bg-color);
}
.half-border {
	width: 50%; /* نصف عرض */
	border-top: 1px solid rgb(86, 85, 85); /* ایجاد خط افقی در بالا */
	margin: 0 auto;
	margin-top: 10px; /* مرکز کردن خط */
}
.no-select a {
	user-select: none; /* غیرفعال کردن انتخاب متن */
}
