body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	background: var(--main-bg-color);
	font-family: "IRANSans", "Roboto", sans-serif;
	display: flex;
	flex-direction: column;
	transition: background-color 0.5s var(--transition-ease);
	overflow-x: hidden;
}

/* لینک‌ها در navbar */
a {
	text-decoration: none;
	font: bolder;
	color: var(--link-color);
	transition: color var(--transition-duration) var(--transition-ease);
}
.bgCover {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
		var(--bg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 25%;
	z-index: 0;
	position: absolute;
}
.logo {
	position: relative;
	display: flex;
	justify-content: center;
	color: #ffffff;
	align-items: flex-start;
}

a:hover {
	color: var(--link-hover-color);
}

/* حذف نقطه‌های لیست */
li {
	list-style-type: none;
}

/* تنظیمات دکمه‌های تغییر زبان */
.lag {
	position: absolute;
	display: flex;
	flex-direction: column; /* بخش زبان‌ها بالای بخش دیگر قرار می‌گیرد */
	align-items: flex-start;
	z-index: 2;
	margin-top: 5px;
}

.language-buttons {
	display: flex;
	justify-content: start;
	gap: 10px; /* فاصله بین دکمه‌های زبان */
	margin-bottom: 10px; /* فاصله‌ای بین بخش زبان و جستجو/سبد */
}

.search-cart {
	display: flex;
	align-items: center; /* هم‌ترازی عمودی دکمه‌های جستجو و سبد */
	gap: 10px; /* فاصله بین آیکن جستجو و لینک سبد خرید */
}

.basket-link {
	text-decoration: none;
	font-weight: bold;
}

button {
	border: none;
	border-radius: 20px;
	padding: 5px 10px;
	cursor: pointer;
	background-color: var(--button-bg-color);
	color: white;
	font-size: 14px;
	transition: background-color var(--transition-duration) var(--transition-ease),
		transform var(--transition-duration) var(--transition-ease);
}

button:hover {
	background-color: var(--button-hover-bg-color);
	transform: scale(1.05);
}
a {
	cursor: pointer;
}
