.loader {
	width: 100vw; /* عرض کامل صفحه */
	height: 100vh; /* ارتفاع کامل صفحه */
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	color: white;
	z-index: 1000;
	background-color: black;
}

.loader::after {
	content: "";
	border: 8px solid #f3f3f3; /* Light grey */
	border-top: 8px solid #050505; /* Blue */
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: spin 2s linear infinite;
	display: inline-block;
	margin-left: 10px; /* فاصله بین متن و انیمیشن */
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
