.loginbg {
	display: flex;
	justify-content: center;
	align-items: center; /* مرکز کردن عمودی */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 10; /* در بالای سایر عناصر */
}

#login {
	width: 100%;
	max-width: 450px;
	padding: 50px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	text-align: center;
	background-color: var(--main-bg-color); /* پس‌زمینه سفید برای فرم */
	z-index: 1;
}

#login h2 {
	margin: 0;
	color: #333;
	font-size: 24px;
}

#loginForm label {
	display: block;
	margin-top: 15px;
	color: #555;
	font-size: 14px;
}

#loginForm input {
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
}

#loginForm button {
	width: 100%;
	padding: 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	background-color: var(--button-bg-color);
	color: white;
	font-size: 16px;
	cursor: pointer;
}

#loginForm button:hover {
	background-color: var(--button-hover-bg-color);
	transform: scale(1.05);
}

#message {
	margin-top: 15px;
	font-size: 14px;
}

@media (max-width: 600px) {
	#login {
		width: 95%;
		padding: 15px;
	}

	#login h2 {
		font-size: 20px;
	}

	#loginForm input,
	#loginForm button {
		font-size: 14px;
	}
}
