#navbarMain {
	position: relative; /* نیاز است تا عنصر فرزند بتواند نسبت به آن موقعیت بگیرد */
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	z-index: 2;
}

/* تنظیمات navbar */
.SYnav {
	display: flex;
	justify-content: space-evenly;
	position: relative;
	width: 600px;
	padding: 10px;
	border-bottom: 2px solid var(--nav-border-color);
	border-radius: 2px;
}

/*  */
.mobile-nav {
	display: flex;
	position: absolute;
	display: none;
	background-color: var(--mobile-nav-bg-color);
	margin: 0;
	padding: 10px;
	border-radius: 5px;
}

.mobile-nav .menu-icon {
	cursor: pointer;
	transition: transform 1000ms var(--transition-ease);
	width: 100%;
}

.mobile-nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	transition: var(--transition-duration) var(--transition-ease);
	overflow: hidden;
}

.mobile-nav ul li {
	border-bottom: 1px solid var(--mobile-nav-border-color);
}

.mobile-nav ul li a {
	text-decoration: none;
	color: white;
	padding: 10px;
	display: block;
}

.mobile-nav ul li a:hover {
	background-color: var(--mobile-nav-hover-bg-color);
}
.lan-MO {
	display: flex;
	justify-content: center;
	align-items: end;
	align-self: flex-end;
	align-content: end;
}

/* پنهان کردن منو در حالت پیش‌فرض */
.hidden {
	display: none;
	height: 0;
}

/* نمایش نوار ناوبری در دستگاه‌های کوچک */
.open {
	height: 100%;
	width: 250px;
}

.mobile-nav ul.open {
	animation: slideDown 0.5s forwards;
}

.mobile-nav ul.hidden {
	animation: slideUp 0.5s forwards;
}

@media only screen and (max-width: 800px) {
	.SYnav {
		display: none;
	}
	.logo {
		display: none;
	}
	.language-buttons {
		display: none;
	}
	.mobile-nav {
		display: block;
		justify-content: end;
	}
	#navbarMain {
		align-items: start;
		justify-content: end;
		margin-bottom: 20%;
		margin-top: 0;
	}
}

/* انیمیشن نوار ناوبری موبایل */
@keyframes slideDown {
	0% {
		transform: translateY(-50%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slideUp {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateY(-100%);
		opacity: 0;
	}
}
